@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    transition: background-color 0.2s ease, color 0.2s ease;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.dark ::-webkit-scrollbar-track { background: #0B0F19; }
::-webkit-scrollbar-track { background: #F8FAFC; }

.dark ::-webkit-scrollbar-thumb { background: #222F47; }
::-webkit-scrollbar-thumb { background: #CBD5E1; }